*{
    padding: 0;margin: 0;box-sizing: border-box;font-family: "Poppins" , sans-serif;
    scroll-behavior: smooth;
}
html , body{
    max-width: 100% !important;
    overflow-x: hidden !important;
    background-color: black;
    height: 100vh;
}

body::before{
    content: '';
    flex-grow: 1;
}


.main{
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "aside content";

}
.aside{
    grid-area: aside;
}
.content{
    width: 100%;
    grid-area: content;
    
}




/* navBar */

#navBar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60px;
    padding: 5px 30px;
    position: relative;
    z-index: 1000;

}
.home-search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeIcon{
    padding: 6px;
    border-radius: 50%;
    background-color:  rgba(32, 31, 31, 0.637);
    margin-right: 5px;

}
.homeIcon:hover{
    padding: 5px;
    cursor: pointer;
}
.search-container{
    display: flex;
    background-color:  rgba(32, 31, 31, 0.637);
    width: 450px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 16px;
    
}
.search-container:hover{
    border: 1px solid rgba(255, 255, 255, 0.308);
    background-color: rgba(128, 128, 128, 0.267);
}
input[type="text"]{
    width: 350px;
    height: 30px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid gray;
    color: rgb(211, 206, 206);
    font-size: large;
}
input[type="text"]:focus{
    outline: none;
    color: white;
    
}
.login-signin{
    display: flex;
}

#signinbtn{
    color: rgb(170, 170, 170);
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    border: none;
    padding: 0 16px;
    &:hover{
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
}

#loginbtn{
    width: 100px;
    height: 45px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: none;
    &:hover{
        background-color: rgba(255, 255, 255, 0.925);
        transform: scale(1.1);
        cursor: pointer;
    }
}

#menuToggle{
    display: none;
    cursor: pointer;
}
#closeToggle{
    display: none;
    position: fixed;
    right: 13px;
    top: 20px;
    cursor: pointer;
    z-index: 1000;
}

.navMobileView{
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    background-color: black;
    color: white;
    padding-left: 50px;
}

.navMobileView > .top-login-signup >h1{
    font-size: 1.5rem;
    padding-bottom: 16px;
    cursor: pointer;

}

.navMobileView > .Hyphen{
    width: 30px;
    border: 2px solid white;
    margin: 20px 0;
    border-radius: 5px;
}

.navMobileView > .bottom >h1{
    font-size: 1rem;
    padding-bottom: 16px;
    cursor: pointer;
}
.top-login-signup >h1:hover , .Hyphen:hover , .bottom >h1:hover{
    color: rgb(128, 128, 128);
}
#openAppbtn{
    display: none;
}
.openAppbtn{
    position: absolute;
    text-align: center;
    width: 100px;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 5px 0;
    font-weight: bold;
    right: 60px;
    cursor: pointer;
}
.openAppbtn:hover{
    background-color: rgba(255, 255, 255, 0.925);
}

.spotify-logo{
    display: none;
}
.searchMobileView{
    display: none;
    cursor: pointer;
}
.browse{
    cursor: pointer;
    padding-left: 5px;
}

@media (max-width:768px) {
    #menuToggle{
        display: block;
    }
    .home-search-container >.homeIcon{
        display: none;
    }
    .login-signin{
        display: none;
    }
    .search-container{
        display: none;
    }
    .search-container{
        background: transparent;
    }
    .search-container > .search{
        position: absolute;
        right: 170px;
    }
    #openAppbtn{
        display: block;
        padding: 1px 0;
    }
    .spotify-logo{
        position: absolute;
        font-size: 1.5rem;
        left: 60px;
        display: block;
    }
    .searchMobileView{
        position: absolute;
        display: block;
        right: 170px;
        width: 30px;
        height: 30px;
    }
    .navBar{
        padding: 16px;
        height: 50px;
        
    }
    .navMobileView{
        top: 60px;
        z-index: 1000;
    }
    
}



/* Main Aside */

.aside{
    position: fixed;
    left: 0;
    margin-top: -10px;
    padding-top: 60px;
    width: 450px;
    color: white;
    height: 100%;
    padding-bottom: 100px;
}

.aside-container{
    height: 100%;
    background-color: rgba(32, 31, 31, 0.637);
    border-radius: 8px;
    margin: 10px;
    padding-bottom: 13px;
    
}
.aside-left-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: rgb(128, 128, 128);
    padding: 20px 30px;
}
.your-library{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &:hover{
        color: white;
        transition: 0.5  ease-in-out;
        cursor: pointer;
    }
    
}
.plus{
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.plus:hover{
    width: 30px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.089);
    cursor: pointer;
}
.aside-box-one , .aside-box-two{
    height: auto;
    background-color: rgba(128, 128, 128, 0.089);
    margin: 20px 10px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#aside-btn{
    width: 140px;
    height: 35px;
    border-radius: 30px;
    border: unset;
    background-color: #fff;
    font-weight: bold;
    &:hover{
        background-color: lightgray;
        transform: scale(1.1);
        cursor: pointer;
    }

}
.aside-footer{
    margin-top: 200px;
    padding: 0px 16px;
}
.aside-footer-links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.aside-footer-links > a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

.aside-footer-language{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    &:hover{
        border: 2px solid white;
        transform: scale(1.1);
    }
}

@media (max-width:768px) {
    .aside{
        display: none;
    }
}







/* Footer banner */
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: black;

}
.footer-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to left , rgba(0, 191, 255, 0.726) ,rgba(243, 8, 145, 0.87) );
    margin: 5px 10px;
    padding: 0px 20px;
}

#signUp-free{
    width: 180px;
    height: 45px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    border: unset;
    margin: 16px 0px;
    font-weight: bold;
    &:hover{
        background-color: rgba(255, 255, 255, 0.87);
        transform: scale(1.1);
        cursor: pointer;
    }
}

@media (max-width:768px) {
    #signUp-free{
        font-size: 13px;
        height: 30px;
    }
    .footer-banner{
        margin-top: 13px;
        
    }
}





/* main Content */

.main{
    position: fixed;
    justify-content: center;
    top: 5px;
    right: 0;
    display: grid;
    width: 100%;
    color: white;
    padding-bottom: 100px;
    height: 100%;
   
   
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(32, 31, 31, 0.637);
    border-radius: 8px;
    margin-top: 60px;
    padding: 0px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
   
    
}
.content-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.content-heading > a{
    text-decoration: none;
    color: white;
}
.content-heading > a:hover{
    text-decoration: underline;
}

/* @media (min-width:768px) {
    .content{
        margin-left: 450px;
    }
} */


.div-container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    border-radius: 16px;
}

.artist-image{
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
    border-radius: 50%;

}
.albums-image , .radio-image ,.featured-charts{
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
    border-radius: 8px;
}

.box{
    width: 230px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;

}

.box1:hover{
    background: linear-gradient(to top , rgba(128, 128, 128, 0.151) , rgba(211, 211, 211, 0) );
    .play-btn{
        display: block;
    }
    
}

.box2:hover , .box3:hover ,.box4:hover{
    background-color: rgba(128, 128, 128, 0.075);
    .play-btn{
        display: block;
    }
}   

.play-btn{
    display: none;
    position: absolute;
    right: 30px;
    top: 160px;
    border-radius: 50%;
    background-color: rgba(31, 255, 31, 0.911);
    padding: 16px;
    &:hover{
        background-color:rgb(45, 187, 45) ;
    }
    
}



@media (max-width:768px) {
    .main{
        width: 100%;
        top: 50px;
        grid-template-columns: 1fr;
    }
    .popular-artists , .popular-albums , .popular-radio ,.featured-charts{
        width: 100%;
        height: auto;
        padding: 0px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    .play-btn{
        top: 120px;
    }
    .content{
        border-radius: 8px;
        margin-top: 10px;
    }

    .box{
        width: 230px;
    }
    .div-container{
        justify-content: center;
    }
    
}

@media (max-width:600px) {
    .artist-image , .radio-image , .albums-image ,.featured-charts{ 
        width: 100%;
        height: 150px;
        border-radius: 8px;

    }
    .box{
        width: 180px;
    }
    .popular-charts{
        justify-content: center;
    }
    
}

@media (max-width:404px) {
    .artist-image , .radio-image , .albums-image ,.featured-charts{ 
        width: 100%;
        height: 100px;
        padding: 0px 0px;
        border-radius: 8px;
    }
    .box{
        width: 130px;
    }
    .play-btn{
        width: 20px;
        top: 65px;
        right: 10px;
    }
    .popular-charts{
        justify-content: center;
    }
    .div-container{
        display: flex;
    }

}





/* last footer */

.content-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 0px 10px;
}
.content-footer li{
    list-style-type: none;
    padding: 6px 0px;
}

.content-footer li a{
    text-decoration: none;
    color: rgba(211, 211, 211, 0.534);

}
.content-footer li a:hover{
    text-decoration: underline;
}

.social-links{
    display: flex;
    gap: 10px;
}
.social-links li{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.137);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
.social-links img{
    width: 12px;
    
     
}
.social-links li:hover{
    background-color: rgba(255, 255, 255, 0.877);
    cursor: pointer;
}

.last{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: rgba(211, 211, 211, 0.534);
}

.last img{
    width: 10px;
    height: 10px;
    padding: 50px 0px;
    
    
    
}
.line{
    border: 1px solid rgba(211, 211, 211, 0.144);
    margin-top: 50px;

}